[www]
user = azuracast
group = www-data

listen = 127.0.0.1:9000
pm = ondemand
pm.max_children = 500
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 20
pm.max_requests = 500
pm.process_idle_timeout = 60s

chdir = /
